.u-margin-b0 {
	margin-bottom: $numberZero !important;
}

.u-margin-b1 {
	margin-bottom: $designDimensionBase !important;
}

.u-margin-b2 {
	margin-bottom: $designDimensionXS !important;
}

.u-margin-b3 {
	margin-bottom: $designDimensionSM !important;
}

.u-margin-b4 {
	margin-bottom: $designDimensionMD !important;
}

.u-margin-b5 {
	margin-bottom: $designDimensionLG !important;
}

.u-margin-b6 {
	margin-bottom: $designDimensionXL !important;
}

.u-margin-b7 {
	margin-bottom: $designDimensionXXL !important;
}
