.u-margin-h0 {
	margin-left: $numberZero !important;
	margin-right: $numberZero !important;
}

.u-margin-h1 {
	margin-left: $designDimensionBase !important;
	margin-right: $designDimensionBase !important;
}

.u-margin-h2 {
	margin-left: $designDimensionXS !important;
	margin-right: $designDimensionXS !important;
}

.u-margin-h3 {
	margin-left: $designDimensionSM !important;
	margin-right: $designDimensionSM !important;
}

.u-margin-h4 {
	margin-left: $designDimensionMD !important;
	margin-right: $designDimensionMD !important;
}

.u-margin-h5 {
	margin-left: $designDimensionLG !important;
	margin-right: $designDimensionLG !important;
}

.u-margin-h6 {
	margin-left: $designDimensionXL !important;
	margin-right: $designDimensionXL !important;
}

.u-margin-h7 {
	margin-left: $designDimensionXXL !important;
	margin-right: $designDimensionXXL !important;
}
