.u-margin-l0 {
	margin-left: $numberZero !important;
}

.u-margin-l1 {
	margin-left: $designDimensionBase !important;
}

.u-margin-l2 {
	margin-left: $designDimensionXS !important;
}

.u-margin-l3 {
	margin-left: $designDimensionSM !important;
}

.u-margin-l4 {
	margin-left: $designDimensionMD !important;
}

.u-margin-l5 {
	margin-left: $designDimensionLG !important;
}

.u-margin-l6 {
	margin-left: $designDimensionXL !important;
}

.u-margin-l7 {
	margin-left: $designDimensionXXL !important;
}
