.u-margin-r0 {
	margin-right: $numberZero !important;
}

.u-margin-r1 {
	margin-right: $designDimensionBase !important;
}

.u-margin-r2 {
	margin-right: $designDimensionXS !important;
}

.u-margin-r3 {
	margin-right: $designDimensionSM !important;
}

.u-margin-r4 {
	margin-right: $designDimensionMD !important;
}

.u-margin-r5 {
	margin-right: $designDimensionLG !important;
}

.u-margin-r6 {
	margin-right: $designDimensionXL !important;
}

.u-margin-r7 {
	margin-right: $designDimensionXXL !important;
}
