.u-margin-0 {
	margin: $numberZero !important;
}

.u-margin-1 {
	margin: $designDimensionBase !important;
}

.u-margin-2 {
	margin: $designDimensionXS !important;
}

.u-margin-3 {
	margin: $designDimensionSM !important;
}

.u-margin-4 {
	margin: $designDimensionMD !important;
}

.u-margin-5 {
	margin: $designDimensionLG !important;
}

.u-margin-6 {
	margin: $designDimensionXL !important;
}

.u-margin-7 {
	margin: $designDimensionXXL !important;
}
