.u-margin-t0 {
	margin-top: $numberZero !important;
}

.u-margin-t1 {
	margin-top: $designDimensionBase !important;
}

.u-margin-t2 {
	margin-top: $designDimensionXS !important;
}

.u-margin-t3 {
	margin-top: $designDimensionSM !important;
}

.u-margin-t4 {
	margin-top: $designDimensionMD !important;
}

.u-margin-t5 {
	margin-top: $designDimensionLG !important;
}

.u-margin-t6 {
	margin-top: $designDimensionXL !important;
}

.u-margin-t7 {
	margin-top: $designDimensionXXL !important;
}
