.u-margin-v0 {
	margin-top: $numberZero !important;
	margin-bottom: $numberZero !important;
}

.u-margin-v1 {
	margin-top: $designDimensionBase !important;
	margin-bottom: $designDimensionBase !important;
}

.u-margin-v2 {
	margin-top: $designDimensionXS !important;
	margin-bottom: $designDimensionXS !important;
}

.u-margin-v3 {
	margin-top: $designDimensionSM !important;
	margin-bottom: $designDimensionSM !important;
}

.u-margin-v4 {
	margin-top: $designDimensionMD !important;
	margin-bottom: $designDimensionMD !important;
}

.u-margin-v5 {
	margin-top: $designDimensionLG !important;
	margin-bottom: $designDimensionLG !important;
}

.u-margin-v6 {
	margin-top: $designDimensionXL !important;
	margin-bottom: $designDimensionXL !important;
}

.u-margin-v7 {
	margin-top: $designDimensionXXL !important;
	margin-bottom: $designDimensionXXL !important;
}
