.u-padding-b0 {
	padding-bottom: $numberZero !important;
}

.u-padding-b1 {
	padding-bottom: $designDimensionBase !important;
}

.u-padding-b2 {
	padding-bottom: $designDimensionXS !important;
}

.u-padding-b3 {
	padding-bottom: $designDimensionSM !important;
}

.u-padding-b4 {
	padding-bottom: $designDimensionMD !important;
}

.u-padding-b5 {
	padding-bottom: $designDimensionLG !important;
}

.u-padding-b6 {
	padding-bottom: $designDimensionXL !important;
}

.u-padding-b7 {
	padding-bottom: $designDimensionXXL !important;
}
