.u-padding-h0 {
	padding-left: $numberZero !important;
	padding-right: $numberZero !important;
}

.u-padding-h1 {
	padding-left: $designDimensionBase !important;
	padding-right: $designDimensionBase !important;
}

.u-padding-h2 {
	padding-left: $designDimensionXS !important;
	padding-right: $designDimensionXS !important;
}

.u-padding-h3 {
	padding-left: $designDimensionSM !important;
	padding-right: $designDimensionSM !important;
}

.u-padding-h4 {
	padding-left: $designDimensionMD !important;
	padding-right: $designDimensionMD !important;
}

.u-padding-h5 {
	padding-left: $designDimensionLG !important;
	padding-right: $designDimensionLG !important;
}

.u-padding-h6 {
	padding-left: $designDimensionXL !important;
	padding-right: $designDimensionXL !important;
}

.u-padding-h7 {
	padding-left: $designDimensionXXL !important;
	padding-right: $designDimensionXXL !important;
}
