.u-padding-l0 {
	padding-left: $numberZero !important;
}

.u-padding-l1 {
	padding-left: $designDimensionBase !important;
}

.u-padding-l2 {
	padding-left: $designDimensionXS !important;
}

.u-padding-l3 {
	padding-left: $designDimensionSM !important;
}

.u-padding-l4 {
	padding-left: $designDimensionMD !important;
}

.u-padding-l5 {
	padding-left: $designDimensionLG !important;
}

.u-padding-l6 {
	padding-left: $designDimensionXL !important;
}

.u-padding-l7 {
	padding-left: $designDimensionXXL !important;
}
