.u-padding-r0 {
	padding-right: $numberZero !important;
}

.u-padding-r1 {
	padding-right: $designDimensionBase !important;
}

.u-padding-r2 {
	padding-right: $designDimensionXS !important;
}

.u-padding-r3 {
	padding-right: $designDimensionSM !important;
}

.u-padding-r4 {
	padding-right: $designDimensionMD !important;
}

.u-padding-r5 {
	padding-right: $designDimensionLG !important;
}

.u-padding-r6 {
	padding-right: $designDimensionXL !important;
}

.u-padding-r7 {
	padding-right: $designDimensionXXL !important;
}
