.u-padding-0 {
	padding: $numberZero !important;
}

.u-padding-1 {
	padding: $designDimensionBase !important;
}

.u-padding-2 {
	padding: $designDimensionXS !important;
}

.u-padding-3 {
	padding: $designDimensionSM !important;
}

.u-padding-4 {
	padding: $designDimensionMD !important;
}

.u-padding-5 {
	padding: $designDimensionLG !important;
}

.u-padding-6 {
	padding: $designDimensionXL !important;
}

.u-padding-7 {
	padding: $designDimensionXXL !important;
}
