.u-padding-t0 {
	padding-top: $numberZero !important;
}

.u-padding-t1 {
	padding-top: $designDimensionBase !important;
}

.u-padding-t2 {
	padding-top: $designDimensionXS !important;
}

.u-padding-t3 {
	padding-top: $designDimensionSM !important;
}

.u-padding-t4 {
	padding-top: $designDimensionMD !important;
}

.u-padding-t5 {
	padding-top: $designDimensionLG !important;
}

.u-padding-t6 {
	padding-top: $designDimensionXL !important;
}

.u-padding-t7 {
	padding-top: $designDimensionXXL !important;
}
