.u-padding-v0 {
	padding-top: $numberZero !important;
	padding-bottom: $numberZero !important;
}

.u-padding-v1 {
	padding-top: $designDimensionBase !important;
	padding-bottom: $designDimensionBase !important;
}

.u-padding-v2 {
	padding-top: $designDimensionXS !important;
	padding-bottom: $designDimensionXS !important;
}

.u-padding-v3 {
	padding-top: $designDimensionSM !important;
	padding-bottom: $designDimensionSM !important;
}

.u-padding-v4 {
	padding-top: $designDimensionMD !important;
	padding-bottom: $designDimensionMD !important;
}

.u-padding-v5 {
	padding-top: $designDimensionLG !important;
	padding-bottom: $designDimensionLG !important;
}

.u-padding-v6 {
	padding-top: $designDimensionXL !important;
	padding-bottom: $designDimensionXL !important;
}

.u-padding-v7 {
	padding-top: $designDimensionXXL !important;
	padding-bottom: $designDimensionXXL !important;
}
