$transition: $all 0.2s $ease;

.card {
	box-shadow: $boxShadowOne;
	width: 360px;
	transition: $transition;

	&:hover {
		box-shadow: $boxShadowTwo;
	}

	&.card--height-fixed {
		height: $cardHeight;
	}

	.card-header-title {
		font-size: ($designDimensionSM + 0.8);
	}

	.card-header-icon {
		flex: ($numberOne / $numberTen);
		height: ($numberOne + ($numberOne/$numberTwo) + em);
	}

	> .card-footer {
		border: $numberZero;
	}

	&.card--theme-dotted {
		border: 2px $dashed $dottedBorderColor;
		border-radius: 4px;
		box-shadow: $none;
		height: $cardHeight;
		opacity: $defaultOpacity;
		transition: $all 0.2s $ease;

		&:hover {
			opacity: $numberOne;
		}
	}
}
