$fontFamily: 'Karla', sans-serif;
$codeFont: monospace;

$FMLayoutDimension: 10px;
$whiteColor: #fff;
$MBCHeadBg: #f2f3f4;

$sidebarWidth: 250px;
$sidebarTransitionStyle: linear;
$sidebarTransitionDuration: 0.3s;

//LoaderBar ($LB)
$LBHeight: 3px;
$LBSpinnerPosition: 15px;
$LBSpinnerHeightWidth: 20px;

/*Extra Space ($ES)*/
$ESBg: #f6f7f8;
$ESPadding: 20px;

/*ToolBar (MB) ToolBar Container ($MBC)*/
$MBButtonRowBorder: #dfdfe0;
$LPFormButtonSize: 12px;
$LPFormInputHeight: 50px;

$none: none;
$normal: normal;
$nowrap: nowrap;
$wrap: wrap;
$wrapReverse: wrap-reverse;
$start: start;
$center: center;
$end: end;
$inherit: inherit;
$justify: justify;
$distribute: distribute;
$stretch: stretch;
$baseline: baseline;
$auto: auto;
$all: all;
$ease: ease;
$transparent: transparent;
$hidden: hidden;
$scroll: scroll;

$textNormal: 400;
$textBold: bold;
$textBolder: bolder;
$textUnderline: underline;
$textUppercase: uppercase;
$textLowercase: lowercase;

$dashed: dashed;

$cursorPointer: pointer;

$displayBlock: block;
$displayFlex: flex;
$displayInlineFlex: inline-flex;

$positionSticky: sticky;

$layoutHorizontal: horizontal;
$layoutVertical: vertical;
$layoutRow: row;
$layoutColumn: column;

$flexStart: flex-start;
$flexEnd: flex-end;

$contentSpaceBetween: space-between;
$contentSpaceAround: space-around;
$contentSpaceEvenly: space-evenly;

$directionReverse: reverse;
$directionRowReverse: row-reverse;
$directionColumnReverse: column-reverse;

$fullPercentage: 100%;
$halfPercentage: ($fullPercentage / 2);

$numberZero: 0;
$numberOne: 1;
$numberTwo: ($numberOne + $numberOne);
$numberHalf: ($numberOne / $numberTwo);
$numberThree: ($numberOne + $numberTwo);
$numberFour: ($numberTwo + $numberTwo);
$numberFive: ($numberFour + $numberOne);
$numberSix: ($numberFive + $numberOne);
$numberTen: ($numberFive * $numberTwo);

/*****LAYOUT DIMENSION*****/
$designDimensionBase: 0.25rem;
$designDimensionXS: ($designDimensionBase + $designDimensionBase); // 0.5rem
$designDimensionSM: ($designDimensionXS + $designDimensionXS); // 1rem
$designDimensionMD: ($designDimensionSM + $designDimensionSM); // 2rem
$designDimensionLG: ($designDimensionMD + $designDimensionMD); // 4rem
$designDimensionXL: ($designDimensionLG + $designDimensionLG); // 8rem
$designDimensionXXL: ($designDimensionXL + $designDimensionXL); // 16rem

$cardHeight: 183px;
$defaultOpacity: 0.8;

$zIndexBase: ($numberTen * $numberTen * $numberTen);
