.text-dark {
	.nav-link {
		color: #000 !important;
		font-size: 16px;
	}
}

.navbar-brand {
	cursor: default;
	font-size: 16px;
	font-weight: bold;
	a {
		color: red !important;
		cursor: pointer;
	}
}

.u-padding-t0 {
	padding-top: 0;
}
.u-padding-b0 {
	padding-bottom: 0;
}
